.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    position: relative;
    /* width: 40%; */
    /* border-radius: 8px; */
    overflow: hidden;
    /* margin: 10px; */
    box-shadow: 3px 4px 3px rgba(0,0,0,0.2);
}
.box img{
    width: 100%;
    transition: all linear 0.7s;
}
img.hover-img{
    position: absolute;
    top: 70%;
    left: 30%;
  
    /* opacity: 0; */
}
.box:hover img{
    opacity: 1;
}
.box:hover img.hover-img{
    opacity: 1;
    transform: scale(1.04);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  
  }
